<h1>Products list</h1>

<%- @products.each do |product| %>
     <%= product.name %>
     <%= product.description %>
     <%= product.price %>
     <%= link_to 'Edit', edit_product_path(product) %>
       <br />
       <%-end%>

     <%= link_to 'Create new product', new_product_path %>
